* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

$font: 'Fira Sans', sans-serif;
$color1: #151F30;
$color2: #103778;
$color3: #0593A2;
$color4: #FF7A48;
$color5: #E3371E;
$color6: #B4BEC9;

body {
    font-family: $font;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#fade,
#modal-supplier {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal-supplier {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 90%;
    background-color: #fff;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;

    .modal-supplier-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        select {
            width: 50%;
            height: 2rem;
            outline: none;
            border: 1px solid black;
            border-radius: 5px;
            font-family: $font;
            font-size: 15px;
        }

        .modal-supplier-buttons {
            display: flex;
            gap: 280px;

            button {
                @extend .button;
            }
        }
    }
}

#modal-supplier.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

.button {
    cursor: pointer;
    font-family: $font;
    font-weight: 600;
    padding: 5px;
    width: 5rem;
    border: none;
    background-color: $color6;
    border-radius: 10px;
    transition: 0.5s;
}

.button:hover {
    background-color: #103778;
    color: white;
}

.container {
    min-height: 100vh;
}

.container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h1 {
        font-weight: bold;
    }
}

.container-filters {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .container-filters-buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            @extend .button;
        }

        button:hover {
            @extend .button;
        }
    }

    .container-filters-search {
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            @extend .button;
        }

        #buttonAdd {
            width: 7rem;
        }

        input {
            height: 1.8rem;
            width: 15rem;
            border-radius: 5px;
            outline: none;
            border: 1px solid black;
            padding: 5px;
            font-style: italic;
            font-family: $font;
        }
    }
}

.container-table {
    padding: 5px;

    table {
        min-width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    button {
        @extend .button;
    }

    .footer-pagination {
        display: flex;
    }

    #buttonPdf {
        background-color: #FF7A48;
    }

    #buttonLoadData {
        background-color: $color3;
        color: white;
    }
}